# WeRateDogs Project - Wrangle & Analyze Twitter Data

By Nagashri Nagaraj<br>
Date November 13 2018

## Introduction:
Goal of this project is to wrangle and analyze @WeRateDogs Twitter data thru' web scraping using Tweepy API, Requests library, downloading csv for gathering data. Then assess and clean the data to create interesting and trustworthy analyses and visualizations.

## Gathering Data:
1. Download the given csv file manually: twitter_archive_enhanced.csv<br>
2. The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv<br>
3. Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.<br>

In [3]:
#import libraries

import numpy as np
import pandas as pd
import os # to download files from Udacity server
import requests # to download files from Udacity server
import tweepy 
import json
from tqdm import *
import datetime as dt
import re
import matplotlib.pyplot as plt
#import seaborn as sns
%matplotlib inline

In [4]:
#Read twitter-archive-enhanced.csv and store it as dataframe variable archive

archive = pd.read_csv("data/twitter-archive-enhanced.csv")

In [40]:
archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [5]:

# Programatically download image prediction file from Udacity server using Requests library
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

# Save data
with open('data/image-predictions.tsv', "wb") as file: 
    file.write(response.content)
    
# Import data
df_breeds = pd.read_csv('data/image-predictions.tsv', sep = "\t")

df_breeds.sample(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1734,821522889702862852,https://pbs.twimg.com/media/C2aitIUXAAAG-Wi.jpg,1,Doberman,0.763539,True,black-and-tan_coonhound,0.136602,True,miniature_pinscher,0.087654,True
97,667728196545200128,https://pbs.twimg.com/media/CUQ_QahUAAAVQjn.jpg,1,kuvasz,0.360159,True,golden_retriever,0.293744,True,Labrador_retriever,0.270673,True

Consumer API keys KJ4snTTqprVl13xESdynv0FLD (API key)

2I8tD942i78jbYOmttOrarGfnHJwSCDct6V3611el6to5AJyt8 (API secret key)

755364732-Qeb0twZzwoOHSwdjy2WNEO6V9SxVjs9rjfylXSeV (Access token)

uXwh7cRrVOwzHOa9d9bXCjzI63tiXgLM98rGjqm62h5tO (Access token secret)

https://developer.twitter.com/en/apps/15941238

In [8]:
# Import data from Twitter API

# authentication pieces
consumer_key = "KJ4snTTqprVl13xESdynv0FLD"
consumer_secret = "2I8tD942i78jbYOmttOrarGfnHJwSCDct6V3611el6to5AJyt8"
access_token = "755364732-Qeb0twZzwoOHSwdjy2WNEO6V9SxVjs9rjfylXSeV"
access_secret = "uXwh7cRrVOwzHOa9d9bXCjzI63tiXgLM98rGjqm62h5tO"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

# Create connection to API
api = tweepy.API(auth, 
                 parser = tweepy.parsers.JSONParser(), 
                 wait_on_rate_limit = True, 
                 wait_on_rate_limit_notify = True)

# Create list of twitter ids
tweet_ids = archive["tweet_id"].astype(list)

In [13]:
api

In [25]:
# Download tweepy status object based on tweet_id in archive and store it in a list.
tweets_data = []

# Tweets that can't be found for the tweet_ids are saved in the list below
failed_ids = []

for tweet_id in tqdm(tweet_ids):
    try:
        tweets_data.append(api.get_status(tweet_id))
    except Exception as e:
        failed_ids.append(tweet_id)

 15%|█▍        | 342/2356 [01:21<08:07,  4.13it/s]Rate limit reached. Sleeping for: 239
 53%|█████▎    | 1242/2356 [09:05<04:13,  4.39it/s]  Rate limit reached. Sleeping for: 680
 91%|█████████ | 2143/2356 [24:41<00:47,  4.51it/s]    Rate limit reached. Sleeping for: 682
100%|██████████| 2356/2356 [37:32<00:00,  4.32it/s]

In [26]:
print("The list of tweets" ,len(tweets_data))
print("The list of tweets no found" , len(failed_ids))

The list of tweets 2340
The list of tweets no found 16

In [27]:
#Then in this code block we isolate the json part of each tweepy 
#status object that we have downloaded and we add them all into a list

my_list_of_dicts = []
for each_json_tweet in tweets_data:
    my_list_of_dicts.append(each_json_tweet)

In [55]:
#print(my_list_of_dicts[0:1])

In [44]:
# Read text file my_list_of_dicts line by line into a txt file:

with open('data/tweet_json.txt', 'w') as file:
        file.write(json.dumps(my_list_of_dicts, indent=4))

In [100]:
my_list = []
with open('data/tweet_json.txt', encoding='utf-8') as json_file:  
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        whole_tweet = each_dictionary['text']
        only_url = whole_tweet[whole_tweet.find('https'):]
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        followers_count = each_dictionary['user']['followers_count']
        friends_count = each_dictionary['user']['friends_count']
        whole_source = each_dictionary['source']
        only_device = whole_source[whole_source.find('rel="nofollow">') + 15:-4]
        source = only_device
        retweeted_status = each_dictionary['retweeted_status'] = each_dictionary.get('retweeted_status', 'Original tweet')
        if retweeted_status == 'Original tweet':
            url = only_url
        else:
            retweeted_status = 'This is a retweet'
            url = 'This is a retweet'
        my_list.append({'tweet_id': str(tweet_id),
                             'whole_tweet': str(whole_tweet),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'followers_count': int(followers_count),
                             'friends_count': int(friends_count),
                             'url': url,
                             'source': source,
                             'text': text,
                             'retweeted_status': retweeted_status,
                            })
        df_json = pd.DataFrame(my_list, columns = ['tweet_id', 'whole_tweet','favorite_count','retweet_count', 
                                                           'followers_count', 'friends_count','source', 
                                                           'retweeted_status', 'url'])

In [101]:
df_json

,tweet_id,whole_tweet,favorite_count,retweet_count,followers_count,friends_count,source,retweeted_status,url
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,38257,8381,7437146,10,Twitter for iPhone,Original tweet,https://t.co/MgUWQ76dJU
1,892177421306343426,This is Tilly. She's just checking pup on you....,32797,6188,7437146,10,Twitter for iPhone,Original tweet,https://t.co/aQFSeaCu9L
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,24696,4094,7437146,10,Twitter for iPhone,Original tweet,https://t.co/r0YlrsGCgy
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,41584,8522,7437146,10,Twitter for iPhone,Original tweet,https://t.co/tD36da7qLQ
4,891327558926688256,This is Franklin. He would like you to stop ca...,39765,9232,7437146,10,Twitter for iPhone,Original tweet,https://t.co/0g0KMIVXZ3
5,891087950875897856,Here we have a majestic great white breaching ...,19956,3070,7437146,10,Twitter for iPhone,Original tweet,https://t.co/xx5cilW0Dd
6,890971913173991426,Meet Jax. He enjoys ice cream so much he gets ...,11681,2038,7437146,10,Twitter for iPhone,Original tweet,https://t.co/MV01Q820LT
7,890729181411237888,When you watch your owner call another dog a g...,64577,18611,7437146,10,Twitter for iPhone,Original tweet,https://t.co/hrcFOGi12V
8,890609185150312448,This is Zoey. She doesn't want to be one of th...,27431,4213,7437146,10,Twitter for iPhone,Original tweet,https://t.co/UkrdQyoYxV
9,890240255349198849,This is Cassie. She is a college pup. Studying...,31482,7279,7437146,10,Twitter for iPhone,Original tweet,https://t.co/l3TSS3o2M0
10,890006608113172480,This is Koda. He is a South Australian decksha...,30255,7228,7437146,10,Twitter for iPhone,Original tweet,https://t.co/jy2alqaYPH
11,889880896479866881,This is Bruno. He is a service shark. Only get...,27413,4903,7437146,10,Twitter for iPhone,Original tweet,https://t.co/u1XPQMl29g
12,889665388333682689,Here's a puppo that seems to be on the fence a...,47487,9918,7437146,10,Twitter for iPhone,Original tweet,https://t.co/BxvuXk0UCm
13,889638837579907072,This is Ted. He does his best. Sometimes that'...,26804,4480,7437146,10,Twitter for iPhone,Original tweet,https://t.co/f8dEDcrKSR
14,889531135344209921,This is Stuart. He's sporting his favorite fan...,14903,2209,7437146,10,Twitter for iPhone,Original tweet,https://t.co/Ya3bdfYuCx
15,889278841981685760,This is Oliver. You're witnessing one of his m...,24916,5305,7437146,10,Twitter for iPhone,Original tweet,https://t.co/qw5xRwBaIv
16,888917238123831296,This is Jim. He found a fren. Taught him how t...,28692,4433,7437146,10,Twitter for iPhone,Original tweet,https://t.co/chxruIOUJN
17,888804989199671297,This is Zeke. He has a new stick. Very proud o...,25230,4238,7437146,10,Twitter for iPhone,Original tweet,https://t.co/L5cCoR2huQ
18,888554962724278272,This is Ralphus. He's powering up. Attempting ...,19584,3500,7437146,10,Twitter for iPhone,Original tweet,https://t.co/YnYAFCTTiK
19,888078434458587136,This is Gerald. He was just told he didn't get...,21475,3447,7437146,10,Twitter for iPhone,Original tweet,https://t.co/UibDBnVpvR
20,887705289381826560,This is Jeffrey. He has a monopoly on the pool...,29764,5317,7437146,10,Twitter for iPhone,Original tweet,https://t.co/m7BR4JgDrZ
21,887517139158093824,I've yet to rate a Venezuelan Hover Wiener. Th...,45656,11503,7437146,10,Twitter for iPhone,Original tweet,https://t.co/20VrLAA8ba
22,887473957103951883,This is Canela. She attempted some fancy porch...,68178,17932,7437146,10,Twitter for iPhone,Original tweet,https://t.co/cLyzpcUcMX
23,887343217045368832,You may not have known you needed to see this ...,33231,10257,7437146,10,Twitter for iPhone,Original tweet,https://t.co/WZqNqygEyV
24,887101392804085760,This... is a Jubilant Antarctic House Bear. We...,30162,5883,7437146,10,Twitter for iPhone,Original tweet,https://t.co/UgW2xbO7Rg
25,886983233522544640,This is Maya. She's very shy. Rarely leaves he...,34701,7668,7437146,10,Twitter for iPhone,Original tweet,https://t.co/I6oNy0CgiT
26,886736880519319552,This is Mingus. He's a wonderful father to his...,11886,3238,7437146,10,Twitter for iPhone,Original tweet,https://t.co/RipKYZ0T1u
27,886680336477933568,This is Derek. He's late for a dog meeting. 13...,22141,4401,7437146,10,Twitter for iPhone,Original tweet,https://t.co/BCoWue0abA
28,886366144734445568,This is Roscoe. Another pupper fallen victim t...,20896,3156,7437146,10,Twitter for iPhone,Original tweet,https://t.co/iIu3AF8IWH
29,886267009285017600,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,116,4,7437146,10,Twitter for iPhone,Original tweet,n
...,...,...,...,...,...,...,...,...,...
2310,666411507551481857,This is quite the dog. Gets really excited whe...,440,324,7437225,10,Twitter for iPhone,Original tweet,https://t.co/aMCTNWO94t
2311,666407126856765440,This is a southern Vesuvius bumblegruff. Can d...,107,40,7437225,10,Twitter for iPhone,Original tweet,https://t.co/LopTBkKa8h
2312,666396247373291520,Oh goodness. A super rare northeast Qdoba kang...,167,84,7437225,10,Twitter for iPhone,Original tweet,https://t.co/Dc7b0E8qFE
2313,666373753744588802,Those are sunglasses and a jean jacket. 11/10 ...,186,92,7437225,10,Twitter for iPhone,Original tweet,https://t.co/uHXrPkUEyl
2314,666362758909284353,Unique dog here. Very small. Lives in containe...,770,564,7437225,10,Twitter for iPhone,Original tweet,https://t.co/XMD9CwjEnM
2315,666353288456101888,Here we have a mixed Asiago from the Galápagos...,218,71,7437225,10,Twitter for iPhone,Original tweet,https://t.co/tltQ5w9aUO
2316,666345417576210432,Look at this jokester thinking seat belt laws ...,290,133,7437225,10,Twitter for iPhone,Original tweet,https://t.co/VFKG1vxGjB
2317,666337882303524864,This is an extremely rare horned Parthenon. No...,197,90,7437225,10,Twitter for iPhone,Original tweet,https://t.co/QpRjllzWAL
2318,666293911632134144,This is a funny dog. Weird toes. Won't come do...,494,352,7437225,10,Twitter for iPhone,Original tweet,https://t.co/IIXis0zta0
2319,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian...,146,64,7437225,10,Twitter for iPhone,Original tweet,https://t.co/d9NcXFKwLv
2320,666273097616637952,Can take selfies 11/10 https://t.co/ws2AMaNwPW,174,76,7437225,10,Twitter for iPhone,Original tweet,https://t.co/ws2AMaNwPW
2321,666268910803644416,Very concerned about fellow dog trapped in com...,102,35,7437225,10,Twitter for iPhone,Original tweet,https://t.co/0yxApIikpk
2322,666104133288665088,Not familiar with this breed. No tail (weird)....,14173,6493,7437225,10,Twitter for iPhone,Original tweet,https://t.co/Asgdc6kuLX
2323,666102155909144576,Oh my. Here you are seeing an Adobe Setter giv...,80,12,7437225,10,Twitter for iPhone,Original tweet,https://t.co/11LvqN4WLq
2324,666099513787052032,Can stand on stump for what seems like a while...,153,67,7437225,10,Twitter for iPhone,Original tweet,https://t.co/Ri4nMTLq5C
2325,666094000022159362,This appears to be a Mongolian Presbyterian mi...,163,72,7437225,10,Twitter for iPhone,Original tweet,https://t.co/mnioXo3IfP
2326,666082916733198337,Here we have a well-established sunblockerspan...,116,44,7437225,10,Twitter for iPhone,Original tweet,https://t.co/3RU6x0vHB7
2327,666073100786774016,Let's hope this flight isn't Malaysian (lol). ...,319,162,7437225,10,Twitter for iPhone,Original tweet,https://t.co/Yk6GHE9tOY
2328,666071193221509120,Here we have a northern speckled Rhododendron....,145,59,7437225,10,Twitter for iPhone,Original tweet,https://t.co/ZoL8kq2XFx
2329,666063827256086533,This is the happiest dog you will ever see. Ve...,471,215,7437225,10,Twitter for iPhone,Original tweet,https://t.co/RhUEAloehK
2330,666058600524156928,Here is the Rand Paul of retrievers folks! He'...,111,57,7437225,10,Twitter for iPhone,Original tweet,https://t.co/pYAJkAe76p
2331,666057090499244032,My oh my. This is a rare blond Canadian terrie...,294,141,7437225,10,Twitter for iPhone,Original tweet,https://t.co/yWBqbrzy8O
2332,666055525042405380,Here is a Siberian heavily armored polar bear ...,432,246,7437225,10,Twitter for iPhone,Original tweet,https://t.co/rdivxLiqEt
2333,666051853826850816,This is an odd dog. Hard on the outside but lo...,1207,841,7437225,10,Twitter for iPhone,Original tweet,https://t.co/v5A4vzSDdc
2334,666050758794694657,This is a truly beautiful English Wilson Staff...,132,59,7437225,10,Twitter for iPhone,Original tweet,https://t.co/fvIbQfHjIe
2335,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,107,40,7437225,10,Twitter for iPhone,Original tweet,https://t.co/4B7cOc1EDq
2336,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,296,139,7437225,10,Twitter for iPhone,Original tweet,https://t.co/DWnyCjf2mx
2337,666033412701032449,Here is a very happy pup. Big fan of well-main...,125,44,7437225,10,Twitter for iPhone,Original tweet,https://t.co/y671yMhoiR
2338,666029285002620928,This is a western brown Mitsubishi terrier. Up...,129,47,7437225,10,Twitter for iPhone,Original tweet,https://t.co/r7mOb2m0UI
2339,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,2546,508,7437225,10,Twitter for iPhone,Original tweet,https://t.co/BLDqew2Ijj

In [111]:
df_json1 = df_json.to_csv('data/df_json1.csv')

In [112]:
df_json1 = pd.read_csv('data/df_json1.csv')
df_json1.head()

,Unnamed: 0,tweet_id,whole_tweet,favorite_count,retweet_count,followers_count,friends_count,source,retweeted_status,url
0,0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,38257,8381,7437146,10,Twitter for iPhone,Original tweet,https://t.co/MgUWQ76dJU
1,1,892177421306343426,This is Tilly. She's just checking pup on you....,32797,6188,7437146,10,Twitter for iPhone,Original tweet,https://t.co/aQFSeaCu9L
2,2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,24696,4094,7437146,10,Twitter for iPhone,Original tweet,https://t.co/r0YlrsGCgy
3,3,891689557279858688,This is Darla. She commenced a snooze mid meal...,41584,8522,7437146,10,Twitter for iPhone,Original tweet,https://t.co/tD36da7qLQ
4,4,891327558926688256,This is Franklin. He would like you to stop ca...,39765,9232,7437146,10,Twitter for iPhone,Original tweet,https://t.co/0g0KMIVXZ3